@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&family=Comfortaa&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;800&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Beastly&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito&display=swap");

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0px 40px;
}

/* nav */

nav {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
}

nav .container {
  box-shadow: -12px 11px 9px 0px var(--shadow);
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 65px;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
}

nav .container .title h1 {
  color: var(--textColor);
  font-size: 35px;
  font-family: "Rubik Beastly", cursive;
  font-weight: 100;
}

/* icon */

.icon {
  position: absolute;
  top: calc(100% - 20px);
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.icon i {
  font-size: 25px;
  display: block;
  margin: auto;
  color: var(--color4);
}

.arrow {
  left: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.arrow.up {
  transform: rotate(180deg) translateX(50%);
  -webkit-transform: rotate(180deg) translateX(50%);
  -moz-transform: rotate(180deg) translateX(50%);
  -ms-transform: rotate(180deg) translateX(50%);
  -o-transform: rotate(180deg) translateX(50%);
}

.arrow.hidden {
  pointer-events: none;
  opacity: 0.5;
}

.paid {
  left: 25%;
}

.paid.hidden {
  pointer-events: none;
  opacity: 0.5;
}

.light-and-dark {
  left: 75%;
}
/* link list */

.link-list ,
.paid-list {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  display: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.link-list.active ,
.paid-list.active {
  display: flex;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.link-list ul ,
.paid-list ul{
  display: flex;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  background-color: var(--color4);
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  height: 71vh;
  border-radius: 65px;
}

.link-list ul li ,
.paid-list ul li {
  font-family: "Rubik Beastly", cursive;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.link-list ul li a {
  color: var(--textColor);
  text-decoration: none;
}

.paid-list ul li {
  color: var(--textColor);
}

.link-list ul li::after ,
.paid-list ul li::after{
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--color1);
  position: absolute;
  left: 10%;
  top: 150%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.link-list ul li:hover::after ,
.paid-list ul li:hover::after {
  width: 60%;
  left: 20%;
  height: 1.5px;
}

.link-list ul li:hover ,
.paid-list ul li:hover {
  font-size: 30px;
}

/* header */

.main-header {
  transform: translateX(-50%);
  font-weight: 100;
  text-align: center;
  color: var(--PColor);
  left: 50%;
  font-size: 105px;
  position: relative;
  font-family: "Mochiy Pop P One", sans-serif;
  opacity: 0.4;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main-header h2 {
  margin-bottom: 0;
  margin-top: 60px;
}

.main-header::after {
  content: "";
}

.main-header::before {
  content: "";
}

/* link section */

.link-section .box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.link-section .box-container .box {
  display: block;
  position: relative;
  width: 270px;
  background-color: var(--color2);
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
}

.link-section .box-container .box.hidden{
  display: none;
}

.link-section .box-container .box .color {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 165px;
  position: absolute;
  background-color: var(--color4);
  height: 165px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 89% 11% 30% 70% / 22% 0% 100% 78%;
  -webkit-border-radius: 89% 11% 30% 70% / 22% 0% 100% 78%;
  -moz-border-radius: 89% 11% 30% 70% / 22% 0% 100% 78%;
  -ms-border-radius: 89% 11% 30% 70% / 22% 0% 100% 78%;
  -o-border-radius: 89% 11% 30% 70% / 22% 0% 100% 78%;
}

.link-section .box-container .box .color:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.link-section .box-container .box .color a {
  text-decoration: none;
}

.link-section .box-container .box .color:hover a {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.link-section .box-container .box .color a p {
  color: var(--textColor);
  font-size: 49px;
  font-family: "Rubik Beastly", cursive;
  font-weight: 100;
}

.link-section .box-container .box .color:hover p {
  color: var(--color1);
  font-size: 60px;
}

.link-section .box-container .box .box-text {
  padding: 20px;
}

.link-section .box-container .box .header h3 {
  color: var(--textColor);
}

.link-section .box-container .box .img {
  width: 100%;
}

.link-section .box-container .box .img img {
  width: 100%;
  height: 166px;
}

.link-section .box-container .box .description p {
  color: var(--PColor);
}

.link-section .box-container .box .description {
  height: 120px;
}

@media (max-width:1025px) {
  .main-header {
    font-size: 90px;
  }

  .main-header h2 {
    margin-top: 75px;
  }

  .link-section::after {
    height: 75px;
  }
}

@media (max-width:769px) {
  .main-header {
    font-size: 95px;
  }

  .main-header h2 {
    margin-top: 65px;
  }
}

@media (max-width:769px) {
  .main-header {
  font-size: 30px;;
  }

  .main-header h2 {
    margin-top: 104px;
  }

  nav .container .title h1 {
    font-size: 30px;
  }
}